{% extends "layout.html" %}

{% block content %}
  <h3>{{ title }} <small> <a href="{{ title_url }}/similar">Similar</a>
  </small></h3>
  <h4>by <a href="{{ author_url }}"> {{ author_name }}</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div>{{ author_name }} @ <a href="{{ author_url }}">{{ author_url }}</a>
  </div>
  <div class="page-body">{{ content }}</div>
  <hr/>
  <a href="{{ title_url }}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{ title_url }}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
